:root {
    --color-text-primary: #1c2a38;
    --color-text-secondary: #8A8F98;
    --color-text-alert: #d72641;
    --color-text-icon: #dbdade;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f5f9;
    --color-bg-alert: #fdeaec;
    --color-theme-primary: #623ce6;
}
button {
    font: inherit;
}
.match {
    width: 600px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #3030301a, 0 4px 4px 0 #3030301a;
}
.header {
    display: flex;
    border-bottom: 2px solid #3030301a;
    padding: 16px;
}
.status {
    background-color: var(--color-bg-alert);
    color: var(--color-text-alert);
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-right: auto;
}
.status::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 8px;
}
.tournament img {
    width: 20px;
    margin-right: 12px;
}
.action {
    display: flex;
    margin-right: auto;
}
.btn-icon {
    display: flex;
    border: 0;
    background-color: transparent;
    color: var(--color-text-icon);
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    position: relative;
}
.column {
    width: calc(100% / 3);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-logo {
    width: 100px;
    height: 100px;
    background-color: var(--color-bg-primary);
    box-shadow: 0 4px 4px 0 #30303026, 0 0 0 15px var(--color-bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.team-logo img {
    width: 50px;
}
.team-name {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date, .referee {
    font-size: 14px;
    color: var(--color-text-secondary);
}
.date strong, .referee strong {
    color: var(--color-text-primary);
}
.score {
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.score-number {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
}
.score-number--leading {
    color: var(--color-theme-primary);
}
.score-divider {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-text-icon);
    margin-left: 10x;
    margin-right: 10px;
}
.time-lapsed {
    color: #DF9443;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.referee {
    margin-top: 12px;
}
.bet-options {
    display: flex;
    margin-top: 8px;
    padding-bottom: 12px;
}
.bet-option {
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid var(--color-text-icon);
    background-color: #F9f9f9;
    border-radius: 2px;
    color: var(--color-text-secondary);
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}
.bet-place {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    background-color: var(--color-theme-primary);
    border-radius: 6px;
    padding: 10px 48px;
    color: #ffffffe6;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 #30303040;
}